/* Navigation Styling */

nav {
	background-color: orange;
	padding-top: 1em;
	padding-bottom: 1em;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
}

nav ul li {
	float: left;
	padding-right: .3em;
	margin-right: 1.5em;
	border-right: solid 1px lightblue;
}

nav ul li a {
	text-decoration: none;
	color: lightblue;
}

nav ul li#linkOne a:hover {
	color: black;
}

nav ul li#linkTwo a:hover {
	background-color: black;
}

nav ul li#linkThree a:hover {
	margin-left: 5px;
	padding-right: 29px;
}
